html {
    position: relative;
    min-height: 100%;
    min-width: 1190px;
}

body {
    margin-bottom: 275px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #212121;
    min-width: 1190px;
}

@media (max-width: 700px) {
    body {
        margin-bottom: 0;
    }
}

a {
    color: #0091b7;
    text-decoration: underline;
    transition: color 0.15s;
    
    &:hover {
        color: #0091b7;
        text-decoration: none;
    }
	
	&.link-icon {
		text-decoration: none;

		.link {
			text-decoration: underline;
		}

		&:focus,
		&:hover,
		&:active {
			text-decoration: none;

			.link {                
				text-decoration: none;
			}
		}
	}
}

.link-dot {
	color: #0091b7;
	text-decoration: none;
	border-bottom: 1px dotted #0091b7;
	transition: color 0.15s;
	cursor: pointer;
	
	&:focus,
	&:hover,
	&:active {
		color: #0091b7;
		text-decoration: none;
		border-bottom: none;
	}
	
	&.link-icon {
		border-bottom: none;
		
		.link {
			text-decoration: none;
			border-bottom: 1px dotted #0091b7;
		}
		
		&:focus,
		&:hover,
		&:active {
			border-bottom: none;
			
			.link {                
				text-decoration: none;
				border-bottom: none;
			}
		}
	}
}

ul, ol, li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

p {
    padding: 0;
    margin: 0 0 20px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #000000;
}
h1,
.h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 1em;
}
h2,
.h2 {
    font-size: 25px;    
    line-height: 1.2em;
}
h3,
.h3 {
    font-size: 28px;
    line-height: 1.2em;
}
h4,
.h4 {
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 1.15em;
}
h5,
.h5 {
    font-size: 15px;
    margin-bottom: 5px;
}
h6,
.h6 {
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 700;
}
img {
    max-width: 100%;
    
}
.container {
    max-width: 1190px;
    min-width: 1190px;
}

.text_right {
    text-align: right;
}
.text_center {
    text-align: center;
}

.vertical_middle {
    vertical-align: middle;
}
.vertical_top {
    vertical-align: top;
}
.vertical_bottom {
    vertical-align: bottom; 
}

.block_center {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.thin-space {
    font-size: 50%;
}
.screen-height {
    height: 100vh;
}


.block-table {
    .row {
        border-bottom: 1px solid #eaeaea;
        margin: 5px 0;
        
        >[class ^= "col-"] {
            margin-bottom: -5px;
        }
        .col-xs-5 {
            background: #FFFFFF;
            padding-left: 5px;
        }
    }
    
    .block-table__label {
        background: #fff;
        display: inline-block;
        margin-left: -15px;
        padding-right: 5px;
    }
}