.block-contacts {
    margin-top: 40px;
    margin-bottom: 40px;
        
    &__addr {
        padding: 0 0 0 70px;
        position: relative;
        
        .icon-map-solid {
            position: absolute;
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            overflow: hidden;
            text-align: center;
            line-height: 36px;
            font-size: 18px;
            left: 0;
            top: 8px;
            color: #f95650;
            border: 2px solid #dcdcdc;
            background: #FFFFFF;
            
            &_inverse {
                color: #FFFFFF;
                border: 2px solid #f95650;
                background: #f95650;
            }
        }
    }
    
    &__requisites {
        margin: 25px 40px;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.65em;
    }
}