.list-products {
    &.section {
        padding-top: 10px;
        padding-bottom: 35px;
    }
    
    &__list {        
        margin: 35px -13px;
    }
    
    &__item {
        padding: 13px;
    }
}