.paging {
    font-size: 0;
    margin: 10px 0;
    
    &__prev {
        display: inline-block;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        margin: 0 10px;
        color: #929292;
    }
    
    &__next {
        display: inline-block;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        margin: 0 10px;
        color: #929292;
    }
    
    &__item {
        display: inline-block;
        font-size: 11px;
        color: #4d4d4d;
        text-decoration: none;
        margin: 0 10px;
        text-align: center;
        line-height: 30px;
        
        &.active {
            color: #FFFFFF;
            background: #ab0e07;
            width: 30px;
            height: 30px;
            margin: 0;
        }
    }
    
}