.block-catalog-list {
    
    &__item {
        border-top: 1px solid #eaeaea;
        
        &:first-child {
            border: none;
        }        
        
        &.section {
            padding: 35px 0;
            
            &:first-child {
                padding-top: 0;
            } 
        }
    }
}