.breadcrumbs {
    color: #7a7a7a;
    font-size: 16px;
    margin: 18px 0 10px;
    
    &__item {
        display: inline-block;
        a {
            color: #7a7a7a;
        }
    }
    
    &__arrow {
        color: #d1d1d1;
        margin: 0 13px;
        font-size: 12px;
    }
}