.list-services {
    padding: 15px 0;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/list-services-bg.jpg);
}