.nav {
    font-size: 0;
    height: 55px;
    
    &__block {
        background: #ffdc2e;
    }
    
    &__item {
        font-size: 12px;
        list-style: none;
        display: inline-block;
        color: #070707;
        position: relative;
        transition: color 0.15s, background 0.15s;
        border-right: 1px solid #e8c411;
        width: 16.66666667%;
        height: 55px;
        vertical-align: top;
        line-height: 1.4em;
        overflow: hidden;
        
        &:first-child {
            border-left: 1px solid #e8c411;            
        }
        
        &.active {
            color: #070707;
            background: #efcc20;
            
            a {
                color: #070707;
            }
        }
        
        a {
            text-decoration: none;
            color: #070707;
            padding: 0 15px 0 80px;
            display: table-cell;
            vertical-align: middle;
            height: 55px;
            transition: color 0.15s, background 0.15s;
            
            &:hover {
                text-decoration: none;
                background: #efcc20;
                outline: 2px solid #efcc20;
            }
        }
        
        &:hover {
                        
            a {
                
            }
            
        }
    }
    
    .icon-1,
    .icon-2,
    .icon-3,
    .icon-4,
    .icon-5,
    .icon-6 {
        width: 50px;
        height: 31px;
        position: absolute;
        left: 15px;
        top: 10px;
        background-image: url(../images/nav-icons.png);
        background-repeat:no-repeat;
    }
    
    .icon-1 {
        background-position: 0 0;
    }
    .icon-2 {
        background-position: -50px 0;
    }
    .icon-3 {
        background-position: -100px 0;
    }
    .icon-4 {
        background-position: -150px 0;
    }
    .icon-5 {
        background-position: -200px 0;
    }
    .icon-6 {
        background-position: -250px 0;
    }
}