.block-home-promo {
    text-align: center;
    
    &__item {
        height: 500px;
        padding-top: 190px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #8E8E8E;
        background-position: center center;
        padding-bottom: 20px;
    }
    
    &__title {
        color: #ffdc2e;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    &__text {
        font-size: 15px;
        line-height: 1.6em;
        color: #FFFFFF;
    }
    
    &__btn {
        margin-top: 50px;
    }
    
    .btn {
        width: 175px;
    }
}