@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot?22403911');
    src: url('../fonts/icons.eot?22403911#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff?22403911') format('woff'),
       url('../fonts/icons.ttf?22403911') format('truetype'),
       url('../fonts/icons.svg?22403911#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?22403911#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone:before { content: '\e800'; } /* '' */
.icon-euro:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-map:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
    
.icon-phone {
    width: 24px;
    height: 24px;
    color: #ffdc2e;
    text-align :center;
    line-height: 20px;
    border-radius: 12px;
    border: 2px solid #ffdc2e;
    font-size: 14px;
    display: inline-block;
}    
.icon-info {
    width: 32px;
    height: 32px;
    color: #c1c1c1;
    text-align: center;
    line-height: 28px;
    border-radius: 16px;
    border: 2px solid #c1c1c1;
    font-size: 20px;
    display: inline-block;
}