.block-product {
    margin: 30px 0;
    
    .block-table {
        margin: 0 0 40px;
    }
    
    &__tabs {
    }
    
    &__info {
        margin: 10px 0 50px;
        padding: 20px 0 0;
        border-top: 1px solid #eaeaea;
        font-size: 13px;
        line-height: 1.55em;
    }
    
    &__id {
        color: #4b4948;
        font-size: 13px;
        margin: 6px 0;
    }
    
    &__price {
        text-align: center;
        padding: 8px 0;
        
        &__title {
            font-size: 11px;
            color: #4b4948;
            text-transform: uppercase;
        }
        &__num {
            font-size: 32px;
            font-weight: 600;
            line-height: 1.1em;
            color: #000000;
        }
        
        &_sale {
            border-top: 1px solid #eaeaea;
            
            .block-product__price__num {
                color: #b60022;
            }
        }
    }
    
    &__buy {
        margin-top: 30px;
    }
    
    &__question {
        display: inline-block;
        padding: 0 0 0 45px;
        line-height: 1.3em;
        position: relative;
        margin: 10px 0 0 25px;
        
        .icon-question {
            position: absolute;
            width: 32px;
            height: 32px;
            line-height: 26px;
            border-radius: 16px;
            border: 2px solid #0091b7;
            font-size: 22px;
            display: inline-block;
            text-align: center;
            left: 0;
            top: 2px;
        }
    }
    
    &__gallery {
        margin: 0 0 30px;
    }
    &__colors {
        margin: 30px 0;
    }
    
    &__other {
        border-top: 1px solid #eaeaea;
        margin: 35px 0 0;
        padding: 30px 0 0;
        
        h5 {
            font-size: 16px;
            font-weight: 600;
        }
    }
    
    &__left {
        padding-right: 40px;
    }
    &__right {
        padding-left: 40px;
    }
}