.catalog-category {
    font-size: 13px;
    margin: 20px 0;
    
    &:after {
        content: "";
        display: block;
        clear:both;
    }
    
    &__image {
        float: left;        
    }
    
    &__info {
        margin-left: 110px;
    }
    
    &__title {
        font-weight: 600;
    }
    
    &__list {        
        li {
            margin: 2px 0;
        }
        
        a {
            color: #474544;
        }
    }
}