.block-service {
    height: 368px;
    background: #FFFFFF;
    padding: 30px 35px 80px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    margin: 15px 0;
    color: #070707;
    position: relative;
    
    &_inverse {
        background: none;
        color: #FFFFFF;
    }
    
    .btn {
        position: absolute;
        right: 35px;
        bottom: 30px;
    }
    
    &__title {
        font-size: 50px;
        line-height: 1em;
        margin: 10px 0 25px;
        font-weight: 300;
    }
    
    &__desc {
        font-size: 15px;
        line-height: 1.35em;
    }
}