.block-home-info {
    .row_table {
        width: 100%;
    }
    
    &__item {
        text-align :center;
        height: 152px;
        border-right: 1px solid #eaeaea;
        
        &:first-child {
            border-left: 1px solid #eaeaea;
        }
    }
    &__image {
        width: 88px;
        height: 88px;
        border-radius: 44px;
        overflow: hidden;
        background: #eaeaea;
        margin: 15px auto;
    }
    &__desc {
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
}