.tags {
    margin: 12px 0 0;
    border-top: 1px solid #eaeaea;
    padding: 6px 0;
    
    &__item {
        color: #7f7c7a;
        font-size: 13px;
        margin: 0 35px 0 0;
        text-decoration: none;
    }
}