.block-article {
    margin: 27px 0 40px;
    
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    &__image {
        width: 213px;
        float: left;
    }
    &__info {
        margin-left: 250px;
    }
    &__title {
        text-transform: uppercase;
        color: #070707;
        font-weight: 600;
        margin-bottom: 15px;
        margin-right: 40px;
    }
    &__desc {
        color: #676767;
        font-size: 13px;
        line-height: 1.65em;
        margin-right: 40px;
    }
}