.header {
    font-size: 12px;
    
    .container {
        position: relative;
    }
    
    &__top {
        padding: 30px 0 18px;
    }
    &__bottom {
        padding: 12px 0 11px;
        border-top: 1px solid #e6e7e8;
    }
    &__right {
        float: right;
        margin: 18px 0 0;
    }
    
    &__phone {
        float: left;
        font-size: 25px;
        text-align: right;
        line-height: 1.1em;
        position: relative;
        margin-right: 25px;
    }
    &__worktime {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 13px;
        line-height: 1.8em;
    }
    &__callback {
        display: inline-block;
        padding: 0 0 0 36px;
        color: #808285;
        position: relative;
        
        .icon-phone {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -12px;
        }
    }
    &__logo {
        text-align: center;
    }
    &__course {
        float: left;
        line-height: 24px;
        color: #7f7f7f;
        font-size: 14px;
        
        .icon-euro {
            color: #0091b7;
            font-size: 22px;
            vertical-align: text-top;
            line-height: 16px;
            
            &:before {
                margin: 0;
            }
        }
    }
    &__login {
        float: left;
        margin-left: 40px;
        text-transform: uppercase;
        line-height: 24px;
        
        a {
            color: #262626;
            text-decoration: none;
        }
        
        .icon-user {
            color: #0091b7;
            display: inline-block;
            width: 25px;
            height: 25px;
            background : #e6e6e5;
            color: #0091b7;
            text-align: center;
            border-radius: 13px;
            font-size: 14px;
            vertical-align: middle;
            margin-left: 3px;
            
            &:before {
                margin: 0;
            }
        }
    }
    &__basket {
        float: left;
        margin-left: 30px;
        text-transform: uppercase;
        line-height: 24px;
        
        a {
            color: #262626;
            text-decoration: none;
        }
        
        .icon-basket {
            color: #0091b7;
            font-size: 24px;
            vertical-align: text-top;
            line-height: 14px;
        }
        
        &__num {
            font-size: 14px;
            font-weight: bold;
        }
    }
    
}