.block-contact-us {
    &.section {
        padding: 45px 0;
    }
    
    .icon-info {
        float: left;
        margin: 0 20px 0 0;
    }
    
    .text {
        overflow: hidden;
        margin: 0 50px 0 0;
    }
    
    .btn {
        margin: 40px 0 0 30px;
    }
}