.shadow {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

.popup {
    position: absolute;
    padding: 25px 40px 30px 40px;
    background: #FFFFFF;
    width: 500px;
    margin-left: -250px;
    left: 50%;
    top: 20%;
    z-index: 101;
    
    &__close {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 15px;
        height: 15px;
        background: #d7d7d7;
        border-radius: 7px;
        overflow: hidden;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    &__header {
        margin-bottom: 20px;
    }
    &__title {
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        margin: 0;
    }
    &__body {
    }
    &__footer {
        margin: 15px 0 0;
    }
    
    &_login {
        width: 285px;
        margin: 0;
        left: 45%;
        font-size: 12px;
    }
    
    &_registration {
        width: 285px;
        margin: 0;
        left: 70%;
        font-size: 12px;
        
        .popup__footer {            
            margin: 30px 0 0;
        }
    }
}

