.block-search {
    position: relative;
    width: 235px;
    
    &__input {
        padding-right: 35px;
    }
    &__btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 34px;
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
    }
}